/* Avatar */
.avatar-container {
    text-align: center;
    margin: 40px 0;
}

.avatar {
    border-radius: 50%;
    width: 120px; /* Taille moyenne */
    height: 120px;
    object-fit: cover;
    border: 3px solid #ff5733;
}

.avatar-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
}

